.table-container {
  border: 1px solid black;
  overflow: auto;
  text-align: left;
}

.table th {
  color: white;
  background-color: #427cbc;
}

.table td {
  white-space: nowrap;
  background-color: white;
}

.table.sticky th {
  position: sticky;
  top: 0;
}

button.link {
  font-size: 0.9rem;
  text-align: left;
  color: #427cbc;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

button.link.active {
  color: black;
}

.opaque {
  opacity: 1;
  transition: linear 0.25s opacity;
}

.transparent {
  opacity: 0.2;
  transition: linear 0.25s opacity;
}
